spring:  
  profiles:
    active:
    - dev
 
---
spring:  
    profiles: dev
    application:
      name: shiyancloud-config-shiyan-dev
  
 ---
 spring:
    profiles: test
    application:
      name: shiyancloud-config-shiyan-test
